body{
    padding-top: 10px;
    color: #170000;
}

hr {
  border: 1px solid #ff6600;
}

a, a:hover {
    text-decoration: none;
    color: #170000;
}

#header {
    background-color: #ff6600;
    padding: 0;
    margin: 0;
}

.container {
    padding: 0;
    background-color: #f6f6ef;
}
ul {
    margin: 0;
    padding: 2px;
}

li {
    display: inline;
}

.row {

padding-left: 10px;

}