{% extends "master.html" %}

{% block title %}Home{% endblock %}


{% block body %}

{% for result in results %}
<div class="row">
    <div class="col-md-12">
        {{ loop.index }}.
        <a href="{{ url_for('vote.vote', id=result[0]) }}">
            <img src="{{ url_for('static', filename='img/vote.gif') }}">
        </a>
        <a href="{{ result[3]|safe() }}">{{ result[2] }}</a>
        <br/>
        <small>{{ result[4] }} points by <a href="{{ url_for('profile.profile', user=result[1]) }}">{{ result[1] }}</a> at {{ result[5] }}</small>
    </div>
</div>
{% endfor %}
{% endblock %}